body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: green;
  min-height: 98vh;
  font-size: x-large;
  color: yellow;
}
.invisi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.letterSpace{
    width: 70px;
    height: 70px;
}
.letter{
    border: solid;
}
.key{
  display: flex;
  border: solid;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
#Space{
    width: 350px;
}
#Submit{
    min-width: 25%;
    text-transform: capitalize;
}
#Submit,#Input,#Output{
    margin: 1%;
}
#Input,#Output{
    border: solid;
    word-break: break-all;
    min-height: 33px;
    white-space: pre;
}
img{
    width: 10%;
    align-self: center;
}
.key,#Submit,#Input,#Output{
    border-color: rgb(4, 173, 229);
}
p,h1,h2,h3,#Input,#Output{
    text-align: center;
}
#sdp{
  justify-self: flex-end;
}