body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cadetblue;
  min-height: 98vh;
}

.invisi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.key{
  display: flex;
  border: solid black 2px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
#Space{
    width: 350px;
}
#Submit{
    min-width: 25%;
}
#Submit,#Input,#Output{
    margin: 1%;
}
#Input,#Output{
    border: solid;
    word-break: break-all;
    min-height: 24px;
    white-space: pre;
}
p,h1,h2,h3,#Input,#Output{
    text-align: center;
}
#sdp{
  justify-self: flex-end;
}