body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: green;
  min-height: 98vh;
  font-size: x-large;
  color: yellow;
}
img{
    height: 17vh;
    width: auto;
    margin: 2%;
    align-self: center;
}
.invisi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
}
#textBox{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: -1px;
}
.letterSpace{
    height: 3.1vh;
    aspect-ratio: 1;
}
.letter{
    border: solid;
    text-align: center;
}
.key{
  display: flex;
  border: solid;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 4vh;
  aspect-ratio: 1;
  min-height: 30px;
  margin: 0.5vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.key:hover{
    background-color: darkgreen;
    cursor: pointer;
    height: 5vh;
    margin: -1px;
    border-color: rgb(0, 149, 255);
}
#Submit:hover,#Backspace:hover,#Reset:hover{
    aspect-ratio: 4;
    margin: 0px;
}
#Submit{
    min-width: 80px;
}
#Backspace{
    min-width: 120px;
}
#Submit,#Backspace,#Reset{
    aspect-ratio: 5;
    text-transform: capitalize;
    margin: 0.5%;
    min-height: 33px;
}
#Input{
    border: solid;
    aspect-ratio: 5;
    word-break: break-all;
    min-height: 33px;
    justify-self: center;
    min-width: 10%;
    margin: 1.5%;
}
#Input,.letter{
    cursor: not-allowed;
}
#rules{
    width: 5.5%;
    height: auto;
    align-self: center;
    margin: 1%;
}
.key,#Submit,#Input{
    border-color: rgb(14, 172, 225);
}
h2{
    font-size: 2.1vh;
}
h1,h2{
    margin: -1px;
}
p,h1,h2,#Input{
    text-align: center;
}
#sdp{
  justify-self: flex-end;
  height: 27px;
  margin: -1px;
}